body{
    background-color:rgb(241, 128, 147);
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    border: 10px solid rgb(206, 35, 92);
    padding: 10px;
    background-color:rgb(206, 35, 92);
}

.title{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    
}
h1{
    margin: 5px;
    font-size:40px;
    text-align: center;
}
main{
    display: flex;
    flex-wrap: wrap;
}

.producto{
    width: 250px;
    height: 300px;
    margin: 10px;
    

    
    
    background-color: aliceblue;
    
}


.image-container{
    display: flex;
    flex-direction: column;
    

}

article{
    padding: 5px;
    margin: 5px;
    width: 320px;
    border: 5px solid black;
    background-color: white;
    
    
}
.titulo{
    word-wrap: break-word;
}
.clave1{
    text-align: center;
    width: 300px;
    height: 40px;
    border: 5px solid black;
   
}
input::placeholder{
    color: black;
    font-size: 15px;
    
}
.btnBuscar{
    height:30px;
    width: 90px;
    font-size: 15px;
    margin-right: 5px;
    margin: 5px;
    color: black;
    border: 3px solid black;

    
}
.btnLimpiar{
    height:30px;
    width: 90px;
    font-size: 15px;
    margin-left: 5px;
    margin: 5px;
    color: black;
    border: 3px solid black;

}
.input-container{
    width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    
  
}
.btnBuscar:hover,
.btnLimpiar:hover{
    background-color: rgb(174, 134, 211);
    color: white;
    border: 3px solid black;
}

nav{
    text-align: center;
    background: rgb(206, 93, 112);
 }
 .boton1{
    background-color:rgb(206, 93, 112);
    border: 1px solid rgb(206, 93, 112);
    height:30px;
    width: 90px;
    font-size: 15px;
    margin-right: 100px;
    margin: 5px;
 }
 .boton2{
    background-color: rgb(206, 93, 112);
    border: 1px solid rgb(206, 93, 112);
    height:30px;
    width: 90px;
    font-size: 15px;
    margin-right: 100px;
    margin: 5px;
 }

 .boton3{
    background-color: rgb(206, 93, 112);
    border: 1px solid rgb(206, 93, 112);
    height:30px;
    width: 90px;
    font-size: 15px;
    margin-right: 100px;
    margin: 5px;
 }
 .boton4{
    background-color:rgb(206, 93, 112);
    border: 1px solid rgb(206, 93, 112);
    height:30px;
    width: 90px;
    font-size: 15px;
    margin-right: 100px;
    margin: 5px;
 }

 