body{
    background-color: rgb(174, 134, 211);
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    text-align: left;
    border: 10px solid purple;
    padding: 10px;
    background-color: purple;
}

.title{
    display: flex;
}
h1{
    margin: 5px;
}
main{
    display: flex;
    flex-wrap: wrap;
}

.producto{
    width: 250px;
    height: 300px;
    margin: 10px;
    

    
    
    background-color: aliceblue;
    
}


.image-container{
    display: flex;
    flex-direction: column;
    

}

article{
    padding: 5px;
    margin: 5px;
    width: 320px;
    border: 5px solid black;
    background-color: white;
    
    
}
.titulo{
    word-wrap: break-word;
}
.clave1{
    text-align: center;
    width: 250px;
    height: 35px;
    border: 5px solid black;
    color: red;
}
input::placeholder{
    color: black;
    font-size: 15px;
    
}
.btnBuscar{
    
}
